/* =============================================================== */
/* ===================== customize input fields ================== */
/* =============================================================== */
input:focus, textarea:focus, select:focus{
    outline: none;
}

/* ================================================================ */
/* ============================ Scroll bar ======================== */
/* ================================================================ */
/* width */
::-webkit-scrollbar {
    width: 8px;
    
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* ================================================================= */
/* ============================ Alert ============================== */
/* ================================================================= */
/* The alert message box */
.alert {
    padding: 20px;
    color: white;
    margin-bottom: 15px;
}

  /* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    overflow: hidden;
}
  /* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

.danger-alert{
    background-color: #f4433698; /* Red */
}

.success-alert{
    background-color: #2195f385;
}



.btn {
    appearance: none;
    -webkit-appearance: none;
    font-family: sans-serif;
    cursor: pointer;
    padding: 12px;
    min-width: 100px;
    border: 0px;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}

.btn-primary {
    background: #3498db;
    color: #ffffff;
}

.btn-primary:hover {
background: #2980b9;
color: #ffffff;
}


*{
    margin: 0%;
    padding: 0%;
    box-shadow: none;
    overflow-x: hidden;
    font-family: sans-serif;
    scroll-behavior: smooth;

}

body{
    background-color: rgba(35, 37, 37, 0.850);
    color: rgba(255, 255, 255, 0.7);
}

.navbar{
    color: rgba(255, 255, 255, 0.8);
    background-color: #333;
    display: flex;
    height: 7vh;
    justify-content: center;
}

.container{
    width: 95vw;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container ul{
    width: 30vw;
    display: flex;
    align-items: center;
}

.container ul li{
    margin-right: .8rem;
    text-decoration: none;
}


.container ul li a{
    font-size: 1.2rem;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
}

.search-bar{
    width: 30vw;
}
.search-bar input{
    width: 25vw;
    height: 32px;
    border: none;
    border-radius: 0.2rem;
    font-size: 1.2rem;
    justify-content: center;
    color: #333;
    padding-left: 1rem;
    padding-right: 1rem;
}

.account-section{    
    width: 30vw;
    text-align: end;
}

.account-section ul{
    justify-content: end;
}
.account-section ul li{
    margin-left: 0.2rem;
}

.account-section ul li a{
    text-decoration: none;
    color: inherit;
    display:contents;
    font-size: 1rem;
}



footer{
    font-size: .8rem;
    text-align: center;
    font-style: italic;
    /* margin-bottom: -0rem; */
}

/* ================================================================== */
/* ============================= view page ========================== */
/* ================================================================== */

/* Main Container */
.view-container{
    width: 100vw;
    text-decoration: none;
    margin-bottom: 8rem;
    text-align: center;
}

/* details class */
.view-details{
    height: 16rem;
    overflow: hidden;
}


/* info Class */
.view-page_info{
    text-align: center;
}

.view-page_info h1{
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.view-page_info h2{
    font-size: 1.2rem;
}

/* Navigation btn */
.view-navigation_btn{
    text-decoration: none;
    margin-top: 2rem;
    text-align: center;
}

.view-navigation_btn input{
    padding: 0.4rem 1.6rem;
}

/* Image Class */
.view-img-container{
    width: 100%;
    display: flex;
    justify-content: center;
}




.view-main_image{
    /* overflow-x: hidden; */
    width: 42rem;
    /* background-color: crimson; */
    text-align: center;
}

/* Main Image */
.view-main_image img{
    width: 100%;
}

/* ================================================================== */
/* ============================= Sign-Up ========================== */
/* ================================================================== */

.signup_container{
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

.signup_box{
    color: rgba(255, 255, 255, 0.9);
    background-color: #333333de;
    width: 30vw;
    height: 60vh;
    padding: 2rem;
    border-radius: 1.6rem;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}

.signup_box h3{
    font-size: 2rem;
    margin-bottom: 0.4rem;
}

.signup_box hr{
    margin-bottom: 4rem;
}


.signup_input{
    font-size: 1rem;
    border: 0;
    border-radius: 0.6rem;
    width: 94%;
    height: 2rem;
    margin-bottom: 1rem;
    padding: 0.4rem;
    padding-left: 1rem;

}

.signup_btn{
    margin-top: 2rem;
    margin-left: 38%;
    border-radius: 0.8rem;
    font-size: 1rem;
}


/* ================================================================= */
/* =========================== Home Page =========================== */
/* ================================================================= */

main .container-2 {
    margin-top: 2rem;
}

main .container-2 h2:nth-child(1) {
font-size: 4rem;
text-align: start;
margin-bottom: 2rem;
}

main .container-2 .brows-item-cards {
margin-bottom: 2rem;
display: grid;
grid-template-columns: repeat(6, 1fr);
/* gap: 1rem; */
}

main .container-2 .brows-item-card {
    height: auto;
    width: auto;
    padding: 14px;
    border-radius: 14px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    /* background-color: rgba(35, 37, 37, 0.8); */
    background-color: #33333375;
}


main .container-2 .brows-item-photo {
/* height: 220px; */
/* width: 165px; */
overflow: hidden;
border-radius: 14px;
display: flex;
}


/* 3rd No. Photo */
main .container-2 .brows-item-3 .brows-item-photo {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

main .container-2 .brows-item-photo img {
width: 100%;
}

/* main .container-2 .brows-item-card p {
text-align: justify;
font-size: 0.8rem;
font-weight: 400;
color: gray;
} */

main .container-2 .brows-item-card a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 0.8rem;

}

main .container-2 .brows-item-card h2 {
font-size: 1rem;
font-weight: 700;
margin-bottom: 0.5rem;
}

/* ============================================================== */
/* ======================== Details Page ========================*/
/* ============================================================== */

main{
    overflow-x: hidden;
    margin-top: 2rem;
    margin: 1rem;
}

main .details_container{
    display: flex;
    background-color: rgba(35, 37, 37, 0.850);
    /* background-color: aqua; */
    /* padding: 12px; */
    margin: 1rem;
    border-radius: 26px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    position: relative;
}

.details_container_left{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 35vw;
    text-align: center;
    height: 80vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
    
}

.admin_edit{
    position: absolute;
    right: 2%;
    top: 2%;
}

.admin_edit a:first-child{
    margin-right: 4px;
}


.details_container_left img{
    width: 420px;
    border-radius: 26px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}


.details_container_right{
    margin-top: 2rem;
    width: 65vw;
}

.details_container_right h2 {
    font-size: 2rem;
    width: 88%;
}

.details_container_right hr{
    margin-top: 0.8rem;
    margin-bottom: 2rem;
    width: 88%;
}

.details_container_right .information{
    margin-bottom: 1rem;
}

.information{
    font-size: 1.1rem;
    line-height: 1.4rem;
}

.detail_buttons{
    height: 4rem;
    overflow: hidden;
    display: flex;
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 4rem;
    height: 1.8rem;
    margin-right: 1rem;
    margin-top: 0.4rem;
    border-radius: 12px;
}

.details_container_right .discription{
    margin-top: 1rem;
    margin-right: 1rem;
}

.discription h4{
    font-size: 1.4rem;
    margin-bottom: 0.8rem;

}

.discription p{
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.2rem;
    font-size: 1rem;
}

/* =========================================================== */
/* ======================= Add Manga ========================= */
/* =========================================================== */

.details_container_right h2 input{
    height: 2rem;
    width: 40vw;
    font-size: 1rem;
    padding: 0.2rem;
    border-radius: 0.4rem;
    color: #888;
}

.information p input{
    width: 22rem;
    height: 1.4rem;
    margin-top: 0.4rem;
    font-size: 1rem;
    border-radius: 0.4rem;
    padding: 0.2rem;
    color: #888;
}

.input_discriotion{
    width: 58vw;
    height: 22vh;
    border-radius: 0.8rem;
    padding: 0.8rem;
    font-size: 1rem;
    color: #888;
    text-align: justify;
}

.submit_btn{
    margin-top: 1rem;
    border-radius: 0.4rem;
}


/* ================================================================= */
/* ======================= Load Image ============================== */
/* ================================================================= */
.load_image{
    margin: 2rem;
    height: 78vh;
    padding: 1rem;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(35, 37, 37, 0.850);
    border-radius: 1rem;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.load_image h2{
    margin-bottom: 8vh;
    margin-top: 4vh;
}


.chose_img{
    margin: auto;
    width: 50%;
    display: flex;
    height: 3rem;
    justify-content: center;
    align-items: center;

}

