.btn {
    appearance: none;
    -webkit-appearance: none;
    font-family: sans-serif;
    cursor: pointer;
    padding: 12px;
    min-width: 100px;
    border: 0px;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}

.btn-primary {
    background: #3498db;
    color: #ffffff;
}

.btn-primary:hover {
background: #2980b9;
color: #ffffff;
}


*{
    margin: 0%;
    padding: 0%;
    box-shadow: none;
    overflow-x: hidden;
    font-family: sans-serif;
}

.navbar{
    color: rgba(255, 255, 255, 0.8);
    background-color: #333;
    display: flex;
    height: 7vh;
    justify-content: center;
}

.container{
    width: 95vw;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container ul{
    width: 30vw;
    display: flex;
    align-items: center;
}

.container ul li{
    margin-right: .8rem;
}

.container ul li p{
    font-size: 1.2rem;
}

.search-bar{
    width: 30vw;
}
.search-bar input{
    width: 25vw;
    height: 32px;
    border: none;
    border-radius: 0.2rem;
    font-size: 1.2rem;
    justify-content: center;
    color: #333;
}

.account-section{
    width: 30vw;
    text-align: end;
}
footer{
    font-size: .8rem;
    text-align: center;
    font-style: italic;
}

/* ================================================================== */
/* ============================= view page ========================== */
/* ================================================================== */

/* Main Container */
.view-container{
    width: 100vw;
    text-decoration: none;
    margin-bottom: 8rem;
    text-align: center;
}

/* details class */
.view-details{
    height: 16rem;
    overflow: hidden;
}


/* info Class */
.view-page_info{
    text-align: center;
}

.view-page_info h1{
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.view-page_info h2{
    font-size: 1.2rem;
}

/* Navigation btn */
.view-navigation_btn{
    text-decoration: none;
    margin-top: 2rem;
    text-align: center;
}

.view-navigation_btn input{
    padding: 0.4rem 1.6rem;
}

/* Image Class */
.view-img-container{
    width: 100%;
    display: flex;
    justify-content: center;
}




.view-main_image{
    /* overflow-x: hidden; */
    width: 42rem;
    /* background-color: crimson; */
    text-align: center;
}

/* Main Image */
.view-main_image img{
    width: 100%;
}

/* ================================================================== */
/* ============================= Sign-Up ========================== */
/* ================================================================== */

.signup_container{
    width: 100vw;
    height: 90vh;
    background-color: whitesmoke;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

.signup_box{
    color: rgba(255, 255, 255, 0.9);
    background-color: #333333de;
    width: 30vw;
    height: 60vh;
    padding: 2rem;
    border-radius: 1.6rem;
    display: flex;
    justify-content: center;
    align-items:flex-start;

}

.signup_box h3{
    font-size: 2rem;
    margin-bottom: 0.4rem;
}

.signup_box hr{
    margin-bottom: 4rem;
}


.signup_input{
    font-size: 1rem;
    border: 0;
    border-radius: 1rem;
    width: 94%;
    height: 2rem;
    margin-bottom: 1rem;
    padding: 0.4rem;
}

.signup_btn{
    margin-top: 2rem;
    margin-left: 38%;
    border-radius: 0.8rem;
    font-size: 1rem;
}


/* ================================================================= */
/* =========================== Home Page =========================== */
/* ================================================================= */
/* ============================Browse Items =============================*/

main .container-2 {
margin-top: 2rem;
}

main .container-2 h2:nth-child(1) {
font-size: 4rem;
text-align: start;
margin-bottom: 2rem;
}

main .container-2 .brows-item-cards {
margin-bottom: 2rem;
display: grid;
grid-template-columns: repeat(6, 1fr);
gap: 2rem;
}

main .container-2 .brows-item-card {
height: auto;
width: auto;
background-color: white;
padding: 24px;
border-radius: 24px;
overflow: hidden;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);
}

main .container-2 .brows-item-photo {
height: 220px;
overflow: hidden;
border-radius: 24px;
}


/* 3rd No. Photo */
main .container-2 .brows-item-3 .brows-item-photo {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

main .container-2 .brows-item-photo img {
width: 100%;
}

main .container-2 .brows-item-card p {
text-align: justify;
font-size: 1.2rem;
font-weight: 400;
color: gray;
}

main .container-2 .brows-item-card a{
    text-decoration: none;
    color: black;
    margin-top: 0.8rem;

}

main .container-2 .brows-item-card h2 {
font-size: 1.4rem;
font-weight: 700;
margin-bottom: 0.5rem;
}