*{
    overflow-x: hidden;
    margin-left: 0;
    margin-right: 0;
}

/* Main Container */
.container{
    width: 100vw;
    text-decoration: none;
    margin-bottom: 8rem;
    text-align: center;
}

/* details class */
.details{
    height: 16rem;
    overflow: hidden;
}


/* info Class */
.page_info{
    text-align: center;
}

.page_info h1{
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.page_info h2{
    font-size: 1.2rem;
}

/* Navigation btn */
.navigation_btn{
    text-decoration: none;
    margin-top: 2rem;
    text-align: center;
}

.navigation_btn input{
    padding: 0.4rem 1.6rem;
}

/* Image Class */
.img-container{
    width: 100%;
    display: flex;
    justify-content: center;
}




.main_image{
    /* overflow-x: hidden; */
    width: 42rem;
    /* background-color: crimson; */
    text-align: center;
}

/* Main Image */
.main_image img{
    width: 100%;
}



footer{
    font-size: .8rem;
    text-align: center;
    font-style: italic;
}



