{% extends 'base.html' %}
{% block title %}Add Chapters{% endblock %}

{% block content %}

<main>
    <!-- main container -->
    <div class="add_manga_container">
        <h2>Add chapter</h2>
        <hr>
        <div class="add_chapter">
            <form method="POST" enctype="multipart/form-data">
                <p>Chapter Name: <input type="text" name="chapter_name"></p>
                <p>Chapter Image: <input class="load_img" type="file" name="chapter_img"></p>
                <p><input class="btn btn-primary" type="submit" value="Submit"></p>
            </form>
        </div>
    </div>

    <div class="chapter_container">
        <h2>All Chapters</h2>
        {% if admin %}
        <div class="admin_edit_chapter">
            <a href="/add_chapter/{{data.id}}"><img src="{{ url_for('static', filename='image/edit.png')}}"width="32px" alt="edit"></a>
        </div>
        {% endif %}
        <div class="chapters">
            <hr>
            <ul class="chapter_list">
                {% for chapter in data.chapters %}
                <li>
                    <div class="chapter">
                        <p>{{ chapter.id }}</p>
                        <p><a href="#">{{ chapter.chapter_name }}</a></p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</main>

{% endblock %}

