{% extends 'base.html' %}
{% block title %}Add Manga{% endblock %}

{% block content %}

<main>
        <div class="details_container">
            <div class="details_container_left">
                {% if manga_img %}
                <img src="{{ url_for('static', filename='files/Cover_img/' + manga_img)}}" alt="Cover Image">
                {% endif %}
            </div>

            <div class="details_container_right">
                <form method="POST" enctype="multipart/form-data">
                    <h2><input type="text" name="name" placeholder="Enter The Name"></h2>
                    <div class="information">
                        <p>Type: <input type="text" name="type"></p>
                        <p>Authors: <input type="text" name="authors"></p>
                        <p>Published: <input type="date" name="published"></p>
                        <p>Score: <input type="text" name="score"></p>
                        <p>Views: <input type="text" name="views"></p>
                    </div>
                    <div class="discription">
                        <h4>Description</h4>
                        <p><input type="text" class="input_discriotion" name="discription"></p>
                    </div>

                    <p><input class="submit_btn btn btn-primary" type="submit" value="Submit"></p>
                
                </form>
            </div>
        </div>
    </div>
</main>

{% endblock %}