
{% extends "base.html" %}
{% block title %}Details- {{data.manga_name.split(".")[0].replace("_", " ")}}{% endblock %}

{% block content %}

<main>
    <!-- main container -->
    <div class="details_container">
        
        <!-- Details Left Side -->
        <div class="details_container_left">

            <img src="{{ url_for('static', filename='files/Cover_img/' + data.manga_image_id)}}" alt="Cover Image">

        </div>

        <!-- Details Right Side -->
        <div class="details_container_right">

            {% if admin %}
            <div class="admin_edit">
                <a href="admin_delet_manga"><img src="{{ url_for('static', filename='image/edit.png')}}" width="32px" alt="edit"></a>
                <a href="admin_edit_manga"><img src="{{ url_for('static', filename='image/close.png')}}" width="32px" alt="close"></a>
            </div>
            {% endif %}

            <h2>{{data.manga_name.split(".")[0].replace("_", " ").upper()}}</h2>
            <hr>
            <div class="information">
                <p>Type: {{ data.manga_type }}</p>
                <p>Authors: {{ data.manga_authors }}</p>
                <p>Published: {{ data.manga_publish_date }}</p>
                <p>Status: {{ data.manga_status }}</p>
                <p>Ratings: {{ data.manga_rating }}</p>
            </div>
            <div class="detail_buttons">
                <a href="#" class="btn btn-primary buttons">Read First</a>
                <a href="#" class="btn btn-primary buttons">Follow</a>
            </div>
            <div class="discription">
                <h4>Description</h4>
    
                <p>{{ data.manga_description }}</p>

            </div>


        </div>
        
    </div>

    <div class="chapter_container">
        <h2>Chapters</h2>
        <div class="chapters">
            <ul class="chapter_list">
                <li>
                    <p>1</p>
                    <a href="#">Chapter 1</a>
                </li>
                <li>
                    <p>2</p>
                    <a href="#">Chapter 2</a>
                </li>
                <li>
                    <p>3</p>
                    <a href="#">Chapter 3</a>
                </li>


            </ul>
        </div>


    </div>




</main>


{% endblock %}

