
{% extends "base.html" %}
{% block title %}Details- {{data.manga_name.split(".")[0].replace("_", " ").upper()}}{% endblock %}

{% block content %}

<main>
    <!-- main container -->
    <div class="details_container">
        
        <!-- Details Left Side -->
        <div class="details_container_left">

            <img src="{{ url_for('static', filename='files/Cover_img/' + data.manga_image_id)}}" alt="Cover Image">

        </div>

        <!-- Details Right Side -->
        <div class="details_container_right">

            {% if admin %}
            <div class="admin_edit">
                <a href="/edit/{{data.id}}"><img src="{{ url_for('static', filename='image/edit.png')}}"width="32px" alt="edit"></a>
                <a href="/delete/{{data.id}}"><img src="{{ url_for('static', filename='image/close.png')}}" width="32px" alt="close"></a>
            </div>
            {% endif %}

            <h2>{{data.manga_name.split(".")[0].replace("_", " ").upper()}}</h2>
            <hr>
            <div class="information">
                <p>Type: {{ data.manga_type }}</p>
                <p>Authors: {{ data.manga_authors }}</p>
                <p>Published: {{ data.manga_publish_date }}</p>
                <p>Status: {{ data.manga_status }}</p>
                <p>Ratings: {{ data.manga_rating }}</p>
            </div>
            <div class="detail_buttons">
                <a href="/read/{{ first_chapter }}" class="btn btn-primary buttons">Read First</a>
                <a href="#" class="btn btn-primary buttons">Follow</a>
            </div>
            <div class="discription">
                <h4>Description</h4>
    
                <p>{{ data.manga_description }}</p>

            </div>


        </div>
        
    </div>

    <div class="chapter_container">
        <h2>Chapters</h2>
        {% if admin %}
        <div class="admin_edit_chapter">
            <a href="/add_chapter/{{data.id}}"><img src="{{ url_for('static', filename='image/edit.png')}}"width="32px" alt="edit"></a>
        </div>
        {% endif %}
        <div class="chapters">
            <hr>
            <ul class="chapter_list">
                {% for chapter in data.chapters %}
                <li>
                    <div class="chapter">
                        <p>{{ chapter.id }}</p>
                        <p><a href="/read/{{ chapter.id }}">{{ chapter.chapter_name }}</a></p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>


    </div>




</main>


{% endblock %}

