<!-- ======================================================== -->
<!-- ======================= Home Page ====================== -->
<!-- ======================================================== -->

{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<!-- main container -->
<main>
    <div class="container-2">
        <div class="brows-item-cards">
            <!-- Card 1 -->
            {% for manga in data %}
            <div class="brows-item-card">
                <div class="brows-item-photo">
                    <img src="static/files\Cover_img/{{manga.manga_image_id}}" />
                </div>
                <a href="manga/{{manga.id}}">
                    <h2>{{ manga.manga_name.capitalize() }}</h2>
                </a>
            </div>
            {% endfor %}
    </div>


</main>

{% endblock %}