<!-- ======================================================== -->
<!-- ======================= Home Page ====================== -->
<!-- ======================================================== -->

{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<!-- main container -->
<main>
    <div class="container-2">

        <div class="brows-item-cards">
            <!-- Card 1 -->
            <div class="brows-item-card">
                <div class="brows-item-photo">
                    <img src="static\files\The 100 Girlfriends who (Cover).jpg" />
                </div>
                <a href="view"><h2>{{ Name }}</h2></a>
                <p>{{ Details }}</p>
            </div>
    </div>


</main>

{% endblock %}