{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}

<div class="signup_container">

    <div class="signup_box">

        <form method="POST">
            <h3>Login</h3>
            <hr>

            <input type="email"
            class="signup_input"
            id="email"
            name="email"
            placeholder="Enter Email"
            />

            <input type="password"
            class="signup_input"
            id="password"
            name="password"
            placeholder="Enter Password"
            />


            <button type="submit" class="signup_btn btn btn-primary" >Login</button>

    
    
        </form>
    </div>
</div>

{% endblock %}