
{% extends "base.html" %}
{% block title %}Read-{{ manga_name.upper() }}{% endblock %}

{% block content %}

<div class="view-container">
    <!-- Details -->
    <div class="view-details">
        <div class="view-page_info">
            <h1 class="view-title" >{{ manga_name.upper() }}</h1>
            <h2>{{ chapter_name }}</h2>
        </div>

        <div class="view-navigation_btn">
            <a href="/previous/{{ chapter_id }}">
                <input type="button" value="Back">
            </a>
            <a href="/next/{{ chapter_id }}">
                <input type="button" value="Next">
            </a>
            </div>
        </div>
    </div>


    <!-- Image -->
    <div class="img-container">
        <div class="main_image">
            <img src="{{ url_for('static', filename='files/Manga_chapters/' + img_dir + '/' + img_name)}}" alt="Chapter 1">
        </div>




{% endblock %}
